/* 
Cambiar algunas tipografías.
●Centrar algunos elementos.
●Agregar contenido en forma de listas
●Cambiar de color letras y fondos 
*/

/*
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Red Hat Display', sans-serif; 
*/

:root {
    --font-title: 'Bebas Neue', sans-serif;
    --font-subtitle: none;
    --font-text: 'Red Hat Display', sans-serif;
    --color-primary: rgba(10, 3, 36, 1);
    --color-secondary: #2c3342;
    --color-tertiary: #0077ff5b;
    --color-main: #33a6e9;
    --color-text: white;
    --size-font-s: 1rem;
    --size-font-m: 1.5rem;
    --size-font-l: 4.7rem;
}

.light-mode {
    --color-primary: rgb(205, 220, 243);
    --color-secondary: #96c3f7;
    --color-tertiary: rgb(55, 73, 131);
    --color-main: #3853ec;
    --color-text: black;
}

* {
    font-family: var(--font-text);
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container-main {
    /* width: 100vw; */
    margin: 0;
    padding: 4vh 10vw;
    display: block;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.nav .nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: var(--color-main);
}

.nav-btns {}

.nav-btns .nav-btn {
    margin: 0 0.15rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 2rem;
}

.head {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-left {
    width: 38%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

.head-left .border-pic {
    border: 2px solid var(--color-main);
    width: 60%;
    display: inline-block;
    /* margin-top: 5vh; */
}

.head-left img.pic {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 0 6.5rem rgba(31, 80, 170, 0.5);
}

.head-left .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 0.5rem;
    margin: 1rem;
    padding: 2px;
    /* este padding simula el borde */

    width: 60%;
    font-size: 0.6rem;
    background: linear-gradient(to right, #2c3342, #60a5fa, #2c3342);
    border-radius: 2rem;
}

.head-left .tag .tag-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #161616;
    /* color interno */
    border-radius: 2rem;
    /* mismo border-radius para que quede perfecto */
    color: white;
}

.head-left .tag .tag-inner .circle {
    width: 10px;
    height: 10px;
    background-color: #00b819;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.head-left .tag .tag-inner .circle .circleShine {
    width: 10px;
    height: 10px;
    background-color: #00b819;
    border-radius: 50%;
    animation: pulse 1.25s infinite;
    position: relative;
}

/* Animación del pulso */
@keyframes pulse {
    0% {
        transform: scale(1.1);
        opacity: 1;
    }

    50% {
        transform: scale(2.5);
        opacity: 0;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

.head-right {
    width: 58%;
    padding: 1.5rem 0;
    display: block;
    align-items: center;
    justify-content: left;
}

.head-right .head-right-hi {
    padding: 0;
    /* margin: 2vh 1vw; */
    font-family: var(--font-title);
    font-size: 1.5rem;
    color: var(--color-text);
}

.head-right .head-right-name {
    display: block;
    padding: 0px;
    /* margin: -1rem 0 -1.5rem 0; */
    font-family: var(--font-title);
    font-size: 5rem;
    line-height: 4rem;
    color: var(--color-text);
}

.head-right .head-right-rol {
    /* display: inline-block; */
    padding: 0;
    /* margin: 2vh 1vw; */
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--color-main);

    display: flex;
    align-items: center;
    gap: 1rem;
}

.head-right .head-right-rol .arrow-line {
    position: relative;
    flex-grow: 1;
    height: 2px;
    background: var(--color-main);
}

.head-right .head-right-rol .arrow-line::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-135deg);
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--color-main);
    border-top: 2px solid var(--color-main);
}

.head-right .head-right-about {
    /* font-family: var(--font-title); */
    font-size: 15px;
    color: var(--color-text);
    margin: 0.25rem 0 0.75rem 0;
}

.head-right .head-right-items {
    display: flex;
    justify-content: left;
}

.head-right .head-right-item-cv {
    text-decoration: none;
    justify-content: center;
    align-content: center;
    color: var(--color-text);
    padding: 0.1rem 2rem;
    margin: 0.25rem 0.25rem;
    border-radius: 2rem;
    border: var(--color-text) solid 1px;
    font-size: 1rem;

    transition: all 0.5s;
}

.head-right .head-right-item-cv:hover {
    color: var(--color-main);
    border: var(--color-main) solid 1px;
}

.head-right .head-right-subitems {
    color: var(--color-text);
    margin: 0.25rem 0 0 2.5rem;
    padding: 0 2.5rem;
    border-left: var(--color-text) solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-right .head-right-subitem {
    margin: 0.5rem;
    padding: 0.15rem 0.6rem 0 0.6rem;

    border-radius: 25%;
    background-color: var(--color-secondary);
    color: var(--color-text);

    font-size: 1.5rem;
    text-align: center;
    align-content: center;

    transition: all 0.5s;
}

.head-right .head-right-subitem:hover {
    background-color: var(--color-main);
}

/* ______________________________________ BODY __________________________________________________________ */

.container-body {
    margin-top: 6vh;
}

.container-body .container-field {
    margin: 6vh 0;
    display: flex;
    justify-content: center;
}

.container-body .container-field .field {
    background-color: var(--color-fourth);
    border: 0px none #FFFFFF;
    border-radius: 25px;
    width: 100%;
}

.container-body .container-field .field .img-field {
    position: absolute;
    margin: -2rem 0 0 1.1rem;
    width: 10rem;
}

.container-body .container-field .field .field-about {
    color: var(--color-text);
    padding: 3vh 1.5vw 1vh 15vw;
    border-radius: 2.25rem 2.25rem 0.5rem 0.5rem;
    text-align: left;
    background: linear-gradient(to right,
            rgb(69, 96, 155),
            rgba(57, 84, 143, 0.5),
            rgba(34, 52, 92, 0));
}
.container-body .container-field .field .field-about .field-title {
    font-weight: bold;
    font-size: var(--size-font-m);
}
.container-body .container-field .field .field-about .field-description {
    font-size: var(--size-font-s);
    margin-bottom: 0.5rem;
}

.container-body .container-field .field .field-content {
    margin: 7.5vh 3vw 3vh 3vw;
    font-size: var(--size-font-s);
    color: white;
}

.container-body .container-field .field .field-content-web {
    margin: 5vh 3vw 3vh 3vw;
    font-size: var(--size-font-s);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-body .container-field .field .field-content-web .card-web {
    width: 30%;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    color: black;
    margin: 10px 10px;
    padding-top: 15px;
    text-align: center;
}

.container-body .container-field .field .field-content-web .card-web .card-title {
    padding: 2px 2px;
}

.container-body .container-field .field .field-content-web .card-web .card-about {
    color: rgb(112, 112, 112);
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgb(188, 188, 188);
    padding: 6px 3px 3px 3px;
    margin: 0px 10px;
}

.container-body .container-field .field .field-content-web .card-web img {
    width: 100%;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* minimo (min-width: 320px) and (max-width: 360px) */
@media (max-width: 575px) {

    .container-main {
        padding: 2vh 3vw;
    }

    .nav {
        flex-wrap: wrap-reverse;
        justify-content: end;
        /* flex-wrap: wrap-reverse; */
    }

    .nav .nav-menu {
        gap: 0.75rem;
        margin-right: 0.5rem;
    }

    .nav .nav-btns {
        margin-bottom: 0.75rem;
    }

    .nav .nav-btns .nav-btn {
        padding: 0.5rem 1rem;
    }

    .head {
        display: block;
    }

    .head-left {
        text-align: left;
        margin-top: 2vh;
        width: 100%;
    }

    .head-left .border-pic {
        width: 60%;
    }

    .head-left .tag {
        width: 60%;
        justify-self: left;
        margin: 1rem 0 0 0;
    }

    .head-right {
        width: 100%;
        padding: 0.75rem 0;
    }

    .head-right .head-right-name {
        margin-top: 0;
        line-height: 4rem;
    }

    .head-right .head-right-items {
        /* display: block; */
        justify-content: right;
        flex-wrap: wrap;

    }

    .head-right .head-right-items .head-right-item-cv {

        margin: 0.25rem 0.5rem;
    }

    .head-right .head-right-items .head-right-subitems {
        flex-wrap: wrap;
        justify-content: end;
        border: none;
        padding: 0;
        margin: 0.25rem;
    }

    .container-body .container-field .field .img-field {
        margin: -2.5rem 0 0 1.1rem;
        width: 8rem;
    }
    .container-body .container-field .field .field-about {
        text-align: end;
        padding: 3vh 10vw 1vh 1.5vw;
        /* font-weight: lighter; */
    }
    .container-body .container-field .field .field-about .field-title {
        font-size: var(--size-font-m);
        margin-bottom: 0;
    }
    .container-body .container-field .field .field-about .field-description {
        font-size: var(--size-font-s);
        margin-bottom: 0;
    }
    
}

@media (min-width: 576px) and (max-width: 767px) {
    .head {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tablets grandes */
}

/* 6. Escritorio */
@media (min-width: 992px) {
    .head-left .border-pic {
        margin-top: 5vh;
    }
    .head-right .head-right-item-cv {
        padding: 0.1rem 2rem;
        margin: 0.25rem 0.25rem;
        font-size: 1rem;
    }
}